<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>18翁珈晏</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<!-- 主內容最外層 -->
	<div class="wrapper">
        <!-- 主標題 -->
		<ul class="nav">
			<li><a href="https://www.youtube.com/watch?v=1QA1USKnSKY">HOME</a></li>
			<li><a href="https://www.ettoday.net/news/20211005/2094672.htm">ABOUT US</a></li>
			<li><a href="https://kknews.cc/photography/9vovqb5.html">SERVICES</a></li>
			<li><a href="https://www.youtube.com/watch?v=aTMnqsvOo74">CONTACT US</a></li>
		</ul>

		<!-- 主內容 -->
		<div class="container">
			<h1>CREATIVE</h1>
		    <h2>SOLUTIONS</h2>
		    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, odit.</p>
		    <a href="https://www.youtube.com/watch?v=pRhiwe7Bbzw">READ MORE</a>
		</div>

        <!-- 社群網站連結 -->
        <!-- 右下 社群網站連結 -->
        <ul class="social-media">
        	<li><a href="https://youtu.be/eT6Xza1T4KA">
        		    <img src="images/media_fb.png" alt="">
        		   
        	    </a>
            </li>
            <li><a href="https://youtu.be/W4HG9ICfu-s">
        		    <img src="images/media_ig.png" alt="">
        		   
        	    </a>
            </li>
            <li><a href="https://youtu.be/t3Bt1ooBrnk">
        		    <img src="images/media_twitter.png" alt="">
        		   
        	    </a>
            </li>

        </ul>

		
	</div>

	
</body>
</html>